openapi: 3.1.0
info:
  title: Factify API
  version: 1.0.0
  description: |
    Factify API enables you to create, manage, and control access to legally-binding documents that replace PDFs.

    ## Authentication

    Authenticate requests using API keys in the Authorization header:

    ```
    Authorization: Bearer fac_live_sk_...
    ```

    ## Rate Limiting

    - 1000 requests per minute per API key
    - 100 requests per minute for resource creation (POST)

    ## Errors

    Factify uses conventional HTTP status codes and returns structured error responses:

    ```json
    {
      "error": {
        "type": "invalid_request_error",
        "message": "Document title cannot be empty",
        "param": "title",
        "code": "missing_required_field"
      }
    }
    ```
  contact:
    name: Factify API Support
    email: api@factify.com
    url: https://factify.com/support
  license:
    name: Proprietary
    url: https://factify.com/terms
servers:
  - url: https://api.factify.com/v1
    description: Production server
  - url: https://api-sandbox.factify.com/v1
    description: Sandbox server (test environment)
security:
  - bearerAuth: []
tags:
  - name: Documents
    description: Core document resources - legally-binding, versioned documents
  - name: Versions
    description: Document version tracking and management
  - name: Entry Pages
    description: Document cover pages and summaries
  - name: Policies
    description: Governance rules for documents
  - name: Form Submissions
    description: Lead capture form submission data
paths:
  /documents:
    get:
      operationId: listDocuments
      summary: List documents
      description: |
        Retrieves a list of documents with cursor-based pagination.

        Results are sorted by creation date (newest first).
      tags:
        - Documents
      parameters:
        - name: limit
          in: query
          description: Number of results to return (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          description: Opaque pagination cursor from previous response
          schema:
            type: string
        - name: access_level
          in: query
          description: Filter by access level
          schema:
            type: string
            enum:
              - organization
              - restricted
              - authenticated
              - public
        - name: created_gte
          in: query
          description: Filter by created date (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                format: int64
              - type: string
                format: date-time
        - name: created_lte
          in: query
          description: Filter by created date (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                format: int64
              - type: string
                format: date-time
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    post:
      operationId: createDocument
      summary: Create a document
      description: |
        Creates a new document with an initial version.

        Supports idempotency via `Idempotency-Key` header.
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          description: Unique identifier for idempotent requests (UUID recommended)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreate'
            examples:
              basic:
                $ref: '#/components/examples/DocumentCreateBasic'
      responses:
        '201':
          description: Document created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                created:
                  $ref: '#/components/examples/DocumentCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /documents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Document ID
        schema:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
    get:
      operationId: getDocument
      summary: Retrieve a document
      description: |
        Retrieves a document by ID, including current version data inline.
      tags:
        - Documents
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateDocument
      summary: Update a document
      description: |
        Updates document metadata. Does not create new version.

        Only provided fields are updated (partial update).
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdate'
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDocument
      summary: Delete a document
      description: |
        Soft-deletes a document. All versions retained for compliance.

        **This operation cannot be undone.**
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  object:
                    type: string
                    enum:
                      - document
                  deleted:
                    type: boolean
                    enum:
                      - true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /documents/{id}/access:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
    patch:
      operationId: updateDocumentAccess
      summary: Update document access level
      description: |
        Changes document access level.

        **Security Note:** This endpoint has stricter rate limiting due to security implications.
      tags:
        - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAccessUpdate'
      responses:
        '200':
          description: Access level updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  access_level:
                    type: string
                  updated_at:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /versions:
    get:
      operationId: listVersions
      summary: List versions
      description: |
        Retrieves versions with filtering.

        Use `document_id` parameter to get all versions of a specific document.
      tags:
        - Versions
      parameters:
        - name: document_id
          in: query
          required: true
          description: Filter by document ID
          schema:
            type: string
            pattern: ^doc_[a-zA-Z0-9]+$
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
        - name: created_gte
          in: query
          schema:
            oneOf:
              - type: integer
              - type: string
                format: date-time
        - name: created_lte
          in: query
          schema:
            oneOf:
              - type: integer
              - type: string
                format: date-time
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createVersion
      summary: Create a version
      description: |
        Creates a new version of a document.

        Version number is automatically incremented.
      tags:
        - Versions
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionCreate'
      responses:
        '201':
          description: Version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /versions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^ver_[a-zA-Z0-9]+$
    get:
      operationId: getVersion
      summary: Retrieve a version
      description: Retrieves a specific version by ID
      tags:
        - Versions
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateVersion
      summary: Update version metadata
      description: |
        Updates version metadata only (content is immutable).
      tags:
        - Versions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionUpdate'
      responses:
        '200':
          description: Version updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /documents/{id}/versions:
    parameters:
      - name: id
        in: path
        required: true
        description: Document ID
        schema:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
    get:
      operationId: listDocumentVersions
      summary: List document versions (convenience endpoint)
      description: |
        Retrieves all versions for a specific document.

        This is a convenience endpoint equivalent to `/versions?document_id={id}`.
      tags:
        - Versions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication using Bearer token format.

        Test keys: `fac_test_sk_...`
        Live keys: `fac_live_sk_...`
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            validation_error:
              value:
                error:
                  type: invalid_request_error
                  message: Document title cannot be empty
                  param: title
                  code: missing_required_field
    Unauthorized:
      description: Authentication failed - missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_key:
              value:
                error:
                  type: authentication_error
                  message: No API key provided
                  code: missing_api_key
    Forbidden:
      description: Authorization failed - valid key but insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitExceeded:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            rate_limit:
              value:
                error:
                  type: rate_limit_error
                  message: Too many requests. Retry after 30 seconds.
                  code: rate_limit_exceeded
                  retry_after: 30
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per minute
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - message
            - code
          properties:
            type:
              type: string
              enum:
                - invalid_request_error
                - authentication_error
                - authorization_error
                - not_found_error
                - rate_limit_error
                - api_error
              description: Error type for programmatic handling
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Specific error code for detailed handling
            param:
              type: string
              description: Parameter that caused the error (for validation errors)
            retry_after:
              type: integer
              description: Seconds to wait before retrying (for rate limit errors)
            errors:
              type: array
              description: Detailed validation errors for multiple fields
              items:
                type: object
                properties:
                  param:
                    type: string
                  message:
                    type: string
                  code:
                    type: string
    Document:
      type: object
      required:
        - id
        - object
        - title
        - access_level
        - created_at
        - updated_at
      properties:
        id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
          description: Unique document identifier
          example: doc_abc123
        object:
          type: string
          enum:
            - document
          description: Object type identifier
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Document title
          example: Q4 Financial Report
        description:
          type:
            - string
            - 'null'
          maxLength: 2000
          description: Optional document description
          example: Annual financial report for Q4 2024
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
          description: |
            Document access level:
            - `organization`: Only organization members
            - `restricted`: Specific users/groups
            - `authenticated`: Any authenticated user
            - `public`: Anyone with the link
          example: organization
        current_version:
          $ref: '#/components/schemas/VersionSummary'
        metadata:
          type: object
          additionalProperties: true
          description: Custom metadata key-value pairs
          example:
            department: finance
            author: john@example.com
        created_at:
          type: integer
          format: int64
          description: Unix timestamp when document was created
          example: 1234567890
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp when document was last updated
          example: 1234567899
        published_at:
          type:
            - integer
            - 'null'
          format: int64
          description: Unix timestamp when document was published
          example: 1234567895
    DocumentList:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        has_more:
          type: boolean
          description: Whether more results are available
        next_cursor:
          type:
            - string
            - 'null'
          description: Opaque cursor for next page of results
    DocumentCreate:
      type: object
      required:
        - title
        - content
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
          default: organization
        content:
          type: string
          description: Initial document content
        metadata:
          type: object
          additionalProperties: true
    DocumentUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        metadata:
          type: object
          additionalProperties: true
    DocumentAccessUpdate:
      type: object
      required:
        - access_level
      properties:
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
    Version:
      type: object
      required:
        - id
        - object
        - document_id
        - version_number
        - created_at
      properties:
        id:
          type: string
          pattern: ^ver_[a-zA-Z0-9]+$
          example: ver_xyz789
        object:
          type: string
          enum:
            - version
        document_id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
          example: doc_abc123
        version_number:
          type: integer
          minimum: 1
          example: 3
        content:
          type: string
          description: Version content
        change_summary:
          type:
            - string
            - 'null'
          description: Summary of changes in this version
          example: Updated financial figures
        created_by:
          type:
            - string
            - 'null'
          description: User ID who created this version
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: integer
          format: int64
          example: 1234567895
    VersionSummary:
      type: object
      required:
        - id
        - version_number
        - created_at
      properties:
        id:
          type: string
          pattern: ^ver_[a-zA-Z0-9]+$
        version_number:
          type: integer
          minimum: 1
        content:
          type: string
          description: Version content (included in document response)
        created_at:
          type: integer
          format: int64
    VersionList:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Version'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
    VersionCreate:
      type: object
      required:
        - document_id
        - content
      properties:
        document_id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
        content:
          type: string
        change_summary:
          type: string
    VersionUpdate:
      type: object
      properties:
        change_summary:
          type: string
        metadata:
          type: object
          additionalProperties: true
  examples:
    DocumentCreateBasic:
      value:
        title: Q4 Financial Report
        description: Annual financial report for Q4 2024
        access_level: organization
        content: |-
          # Q4 Financial Report

          ## Executive Summary
          ...
        metadata:
          department: finance
          author: john@example.com
    DocumentCreated:
      value:
        id: doc_abc123
        object: document
        title: Q4 Financial Report
        description: Annual financial report for Q4 2024
        access_level: organization
        current_version:
          id: ver_xyz789
          version_number: 1
          content: |-
            # Q4 Financial Report

            ## Executive Summary
            ...
          created_at: 1234567890
        metadata:
          department: finance
          author: john@example.com
        created_at: 1234567890
        updated_at: 1234567890
        published_at: null
