openapi: 3.1.0
info:
  title: Factify API
  version: 1.0.0
  description: |
    Factify API enables you to create, manage, and control access to legally-binding documents that replace PDFs.

    ## Authentication

    Authenticate requests using API keys in the Authorization header:

    ```
    Authorization: Bearer fac_live_sk_...
    ```

    ## Rate Limiting

    - 1000 requests per minute per API key
    - 100 requests per minute for resource creation (POST)

    ## Errors

    Factify uses conventional HTTP status codes and returns structured error responses:

    ```json
    {
      "error": {
        "type": "invalid_request_error",
        "message": "Document title cannot be empty",
        "param": "title",
        "code": "missing_required_field"
      }
    }
    ```
  contact:
    name: Factify API Support
    email: api@factify.com
    url: https://factify.com/support
  license:
    name: Proprietary
    url: https://factify.com/terms
servers:
  - url: https://api.factify.com/v1
    description: Production server
  - url: https://api-sandbox.factify.com/v1
    description: Sandbox server (test environment)
security:
  - bearerAuth: []
tags:
  - name: Documents
    description: Core document resources - legally-binding, versioned documents
  - name: Versions
    description: Document version tracking and management
  - name: Entry Pages
    description: Document cover pages and summaries
  - name: Policies
    description: Governance rules for documents
  - name: Form Submissions
    description: Lead capture form submission data
paths:
  /documents:
    get:
      tags:
        - Documents
      summary: List documents
      description: Retrieve a paginated list of documents.
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of documents to return (1–100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: starting_after
          in: query
          required: false
          description: |
            Cursor for pagination. Pass the `id` of the last document from
            the previous page to fetch the next page.
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter documents by status.
          schema:
            type: string
            enum:
              - draft
              - active
              - archived
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Documents in this page
                    items:
                      type: object
                      description: Document summary
                      properties:
                        id:
                          type: string
                          description: Unique document identifier
                          example: doc_12345
                        title:
                          type: string
                          description: Document title
                          example: Master Service Agreement
                        status:
                          type: string
                          description: Document status
                          enum:
                            - draft
                            - active
                            - archived
                          example: active
                        created_at:
                          type: string
                          format: date-time
                          description: Creation timestamp (ISO 8601)
                        updated_at:
                          type: string
                          format: date-time
                          description: Last update timestamp (ISO 8601)
                  has_more:
                    type: boolean
                    description: Whether there are more documents to fetch
                    example: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication using Bearer token format.

        Test keys: `fac_test_sk_...`
        Live keys: `fac_live_sk_...`
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            validation_error:
              value:
                error:
                  type: invalid_request_error
                  message: Document title cannot be empty
                  param: title
                  code: missing_required_field
    Unauthorized:
      description: Authentication failed - missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_key:
              value:
                error:
                  type: authentication_error
                  message: No API key provided
                  code: missing_api_key
    Forbidden:
      description: Authorization failed - valid key but insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitExceeded:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            rate_limit:
              value:
                error:
                  type: rate_limit_error
                  message: Too many requests. Retry after 30 seconds.
                  code: rate_limit_exceeded
                  retry_after: 30
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per minute
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - message
            - code
          properties:
            type:
              type: string
              enum:
                - invalid_request_error
                - authentication_error
                - authorization_error
                - not_found_error
                - rate_limit_error
                - api_error
              description: Error type for programmatic handling
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Specific error code for detailed handling
            param:
              type: string
              description: Parameter that caused the error (for validation errors)
            retry_after:
              type: integer
              description: Seconds to wait before retrying (for rate limit errors)
            errors:
              type: array
              description: Detailed validation errors for multiple fields
              items:
                type: object
                properties:
                  param:
                    type: string
                  message:
                    type: string
                  code:
                    type: string
    Document:
      type: object
      required:
        - id
        - object
        - title
        - access_level
        - created_at
        - updated_at
      properties:
        id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
          description: Unique document identifier
          example: doc_abc123
        object:
          type: string
          enum:
            - document
          description: Object type identifier
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Document title
          example: Q4 Financial Report
        description:
          type:
            - string
            - 'null'
          maxLength: 2000
          description: Optional document description
          example: Annual financial report for Q4 2024
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
          description: |
            Document access level:
            - `organization`: Only organization members
            - `restricted`: Specific users/groups
            - `authenticated`: Any authenticated user
            - `public`: Anyone with the link
          example: organization
        current_version:
          $ref: '#/components/schemas/VersionSummary'
        metadata:
          type: object
          additionalProperties: true
          description: Custom metadata key-value pairs
          example:
            department: finance
            author: john@example.com
        created_at:
          type: integer
          format: int64
          description: Unix timestamp when document was created
          example: 1234567890
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp when document was last updated
          example: 1234567899
        published_at:
          type:
            - integer
            - 'null'
          format: int64
          description: Unix timestamp when document was published
          example: 1234567895
    DocumentList:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        has_more:
          type: boolean
          description: Whether more results are available
        next_cursor:
          type:
            - string
            - 'null'
          description: Opaque cursor for next page of results
    DocumentCreate:
      type: object
      required:
        - title
        - content
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
          default: organization
        content:
          type: string
          description: Initial document content
        metadata:
          type: object
          additionalProperties: true
    DocumentUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        metadata:
          type: object
          additionalProperties: true
    DocumentAccessUpdate:
      type: object
      required:
        - access_level
      properties:
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
    Version:
      type: object
      required:
        - id
        - object
        - document_id
        - version_number
        - created_at
      properties:
        id:
          type: string
          pattern: ^ver_[a-zA-Z0-9]+$
          example: ver_xyz789
        object:
          type: string
          enum:
            - version
        document_id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
          example: doc_abc123
        version_number:
          type: integer
          minimum: 1
          example: 3
        content:
          type: string
          description: Version content
        change_summary:
          type:
            - string
            - 'null'
          description: Summary of changes in this version
          example: Updated financial figures
        created_by:
          type:
            - string
            - 'null'
          description: User ID who created this version
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: integer
          format: int64
          example: 1234567895
    VersionSummary:
      type: object
      required:
        - id
        - version_number
        - created_at
      properties:
        id:
          type: string
          pattern: ^ver_[a-zA-Z0-9]+$
        version_number:
          type: integer
          minimum: 1
        content:
          type: string
          description: Version content (included in document response)
        created_at:
          type: integer
          format: int64
    VersionList:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Version'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
    VersionCreate:
      type: object
      required:
        - document_id
        - content
      properties:
        document_id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
        content:
          type: string
        change_summary:
          type: string
    VersionUpdate:
      type: object
      properties:
        change_summary:
          type: string
        metadata:
          type: object
          additionalProperties: true
