openapi: 3.1.0
info:
  title: Factify API
  version: 1.0.0
  description: |
    Factify API enables you to create, manage, and control access to legally-binding documents that replace PDFs.

    ## Authentication

    Authenticate requests using API keys in the Authorization header:

    ```
    Authorization: Bearer fac_live_sk_...
    ```

    ## Rate Limiting

    - 1000 requests per minute per API key
    - 100 requests per minute for resource creation (POST)

    ## Errors

    Factify uses conventional HTTP status codes and returns structured error responses:

    ```json
    {
      "error": {
        "type": "invalid_request_error",
        "message": "Document title cannot be empty",
        "param": "title",
        "code": "missing_required_field"
      }
    }
    ```
  contact:
    name: Factify API Support
    email: api@factify.com
    url: https://factify.com/support
  license:
    name: Proprietary
    url: https://factify.com/terms
servers:
  - url: https://api.factify.com/v1
    description: Production server
  - url: https://api-sandbox.factify.com/v1
    description: Sandbox server (test environment)
security:
  - bearerAuth: []
tags:
  - name: Documents
    description: Core document resources - legally-binding, versioned documents
  - name: Versions
    description: Document version tracking and management
  - name: Entry Pages
    description: Document cover pages and summaries
  - name: Policies
    description: Governance rules for documents
  - name: Form Submissions
    description: Lead capture form submission data
paths:
  /documents:
    get:
      operationId: listDocuments
      summary: List documents
      description: |
        Retrieves a list of documents with cursor-based pagination.

        Results are sorted by creation date (newest first).
      tags:
        - Documents
      parameters:
        - name: limit
          in: query
          description: Number of results to return (1-100)
          schema:
            type: integer
            x-minimum: 1
            x-maximum: 100
            default: 50
        - name: cursor
          in: query
          description: Opaque pagination cursor from previous response
          schema:
            type: string
        - name: access_level
          in: query
          description: Filter by access level
          schema:
            type: string
            enum:
              - organization
              - restricted
              - authenticated
              - public
        - name: created_gte
          in: query
          description: Filter by created date (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                x-format: int64
              - type: string
                x-format: date-time
        - name: created_lte
          in: query
          description: Filter by created date (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                x-format: int64
              - type: string
                x-format: date-time
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    post:
      operationId: createDocument
      summary: Create a document
      description: |
        Creates a new document by uploading a PDF file with metadata.

        The PDF is processed asynchronously. Check `processing_status` field to track progress.

        Supports idempotency via `Idempotency-Key` header.
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          description: Unique identifier for idempotent requests (UUID recommended)
          schema:
            type: string
            x-format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - payload
                - title
              properties:
                payload:
                  type: string
                  x-format: binary
                  description: PDF file to upload
                title:
                  type: string
                  x-minLength: 1
                  x-maxLength: 255
                  description: Document title
                description:
                  type: string
                  x-maxLength: 2000
                  description: Optional document description
                access_level:
                  type: string
                  enum:
                    - private
                    - organization
                    - restricted
                    - authenticated
                    - public
                  default: private
                  description: Document access level
                policy_ids:
                  type: array
                  description: Policy IDs to attach on creation (as JSON array)
                  items:
                    type: string
                    x-pattern: ^pol_[0-9a-hjkmnp-tv-z]{26}$
                  example:
                    - pol_01h2xcej8mf2nbrexx3vqjhp42
                    - pol_01h2xcek4tf2nbrexx3vqjhp43
                content_creation_date:
                  type: integer
                  x-format: int64
                  description: Date shown on the document content itself (Unix timestamp)
                  example: 1704067200
            encoding:
              policy_ids:
                contentType: application/json
      responses:
        '201':
          description: Document created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                created:
                  $ref: '#/components/examples/DocumentCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /documents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Document ID
        schema:
          type: string
          x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
    get:
      operationId: getDocument
      summary: Retrieve a document
      description: |
        Retrieves a document by ID, including current version data inline.
      tags:
        - Documents
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateDocument
      summary: Update a document
      description: |
        Updates document metadata. Does not create new version.

        Only provided fields are updated (partial update).
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            x-format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdate'
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDocument
      summary: Delete a document
      description: |
        Soft-deletes a document. All versions retained for compliance.

        **This operation cannot be undone.**
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            x-format: uuid
      responses:
        '200':
          description: Document deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  object:
                    type: string
                    enum:
                      - document
                  deleted:
                    type: boolean
                    enum:
                      - true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /documents/{id}/access:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
    patch:
      operationId: updateDocumentAccess
      summary: Update document access level
      description: |
        Changes document access level.

        **Security Note:** This endpoint has stricter rate limiting due to security implications.
      tags:
        - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAccessUpdate'
      responses:
        '200':
          description: Access level updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  access_level:
                    type: string
                  updated_at:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /versions:
    get:
      operationId: listVersions
      summary: List versions
      description: |
        Retrieves versions with filtering.

        Use `document_id` parameter to get all versions of a specific document.
      tags:
        - Versions
      parameters:
        - name: document_id
          in: query
          required: true
          description: Filter by document ID
          schema:
            type: string
            x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
        - name: limit
          in: query
          schema:
            type: integer
            x-minimum: 1
            x-maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
        - name: created_gte
          in: query
          schema:
            oneOf:
              - type: integer
              - type: string
                x-format: date-time
        - name: created_lte
          in: query
          schema:
            oneOf:
              - type: integer
              - type: string
                x-format: date-time
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createVersion
      summary: Create a version
      description: |
        Creates a new version by uploading a PDF file with metadata.

        Version number is automatically incremented.
        The PDF is processed asynchronously. Check `processing_status` to track progress.
      tags:
        - Versions
      parameters:
        - name: Idempotency-Key
          in: header
          description: Unique identifier for idempotent requests
          schema:
            type: string
            x-format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - payload
                - document_id
              properties:
                payload:
                  type: string
                  x-format: binary
                  description: PDF file for new version
                document_id:
                  type: string
                  x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
                  description: Document ID to create version for
                change_summary:
                  type: string
                  description: Summary of changes in this version
                  example: Updated financial figures for Q4
                content_creation_date:
                  type: integer
                  x-format: int64
                  description: Date shown on the document content itself (Unix timestamp)
                  example: 1704067200
      responses:
        '201':
          description: Version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /versions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          x-pattern: ^ver_[0-9a-hjkmnp-tv-z]{26}$
    get:
      operationId: getVersion
      summary: Retrieve a version
      description: Retrieves a specific version by ID
      tags:
        - Versions
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateVersion
      summary: Update version metadata
      description: |
        Updates version metadata only (content is immutable).
      tags:
        - Versions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionUpdate'
      responses:
        '200':
          description: Version updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /versions/{id}/download:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          x-pattern: ^ver_[0-9a-hjkmnp-tv-z]{26}$
    get:
      operationId: downloadVersion
      summary: Download version content
      description: |
        Downloads the processed content for a version.

        Returns binary content with appropriate Content-Type header.

        **Note:** Available only when `processing_status` is `ready`.
      tags:
        - Versions
      responses:
        '200':
          description: Version content
          content:
            application/pdf:
              schema:
                type: string
                x-format: binary
            text/markdown:
              schema:
                type: string
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
          headers:
            Content-Disposition:
              schema:
                type: string
              description: attachment; filename="document.pdf"
            Content-Length:
              schema:
                type: integer
              description: File size in bytes
            ETag:
              schema:
                type: string
              description: Content hash for caching
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Version not ready for download
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  message: Version is still processing
                  code: version_not_ready
                  param: processing_status
  /documents/{id}/versions:
    parameters:
      - name: id
        in: path
        required: true
        description: Document ID
        schema:
          type: string
          x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
    get:
      operationId: listDocumentVersions
      summary: List document versions (convenience endpoint)
      description: |
        Retrieves all versions for a specific document.

        This is a convenience endpoint equivalent to `/versions?document_id={id}`.
      tags:
        - Versions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            x-minimum: 1
            x-maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{id}/entry-page:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
    get:
      operationId: getDocumentEntryPage
      summary: Get document entry page
      description: |
        Retrieves the entry page (cover page/summary) for a document.

        Returns PDF by default, or JSON metadata with `?format=json`.
      tags:
        - Entry Pages
      parameters:
        - name: format
          in: query
          description: Output format
          schema:
            type: string
            enum:
              - pdf
              - json
            default: pdf
      responses:
        '200':
          description: Entry page
          content:
            application/pdf:
              schema:
                type: string
                x-format: binary
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  page_count:
                    type: integer
                  entry_page_url:
                    type: string
                    x-format: uri
                  preview_image_url:
                    type: string
                    x-format: uri
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /documents/{id}/policies:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
    get:
      operationId: listDocumentPolicies
      summary: List document policies
      description: Lists all policies attached to a document
      tags:
        - Policies
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAttachmentList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: attachDocumentPolicy
      summary: Attach policy to document
      description: Attaches a governance policy to a document
      tags:
        - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAttachRequest'
      responses:
        '200':
          description: Policy attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAttachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /documents/{id}/policies/{policy_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          x-pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
      - name: policy_id
        in: path
        required: true
        schema:
          type: string
          x-pattern: ^pol_[0-9a-hjkmnp-tv-z]{26}$
    delete:
      operationId: detachDocumentPolicy
      summary: Detach policy from document
      description: Removes a policy attachment from a document
      tags:
        - Policies
      responses:
        '200':
          description: Policy detached
          content:
            application/json:
              schema:
                type: object
                properties:
                  document_id:
                    type: string
                  policy_id:
                    type: string
                  detached:
                    type: boolean
                    enum:
                      - true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /form-submissions:
    get:
      operationId: listFormSubmissions
      summary: List form submissions
      description: |
        Retrieves form submissions for a specific form with optional time filtering.
      tags:
        - Form Submissions
      parameters:
        - name: form_id
          in: query
          required: true
          description: Form ID to filter by
          schema:
            type: string
            x-pattern: ^form_[a-zA-Z0-9]+$
        - name: submitted_gte
          in: query
          description: Filter by submission time (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                x-format: int64
              - type: string
                x-format: date-time
        - name: submitted_lte
          in: query
          description: Filter by submission time (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                x-format: int64
              - type: string
                x-format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            x-minimum: 1
            x-maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of form submissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication using Bearer token format.

        Test keys: `fac_test_sk_...`
        Live keys: `fac_live_sk_...`
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            validation_error:
              value:
                error:
                  type: invalid_request_error
                  message: Document title cannot be empty
                  param: title
                  code: missing_required_field
    Unauthorized:
      description: Authentication failed - missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_key:
              value:
                error:
                  type: authentication_error
                  message: No API key provided
                  code: missing_api_key
    Forbidden:
      description: Authorization failed - valid key but insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitExceeded:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            rate_limit:
              value:
                error:
                  type: rate_limit_error
                  message: Too many requests. Retry after 30 seconds.
                  code: rate_limit_exceeded
                  retry_after: 30
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per minute
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - message
            - code
          properties:
            type:
              type: string
              enum:
                - invalid_request_error
                - authentication_error
                - authorization_error
                - not_found_error
                - rate_limit_error
                - api_error
              description: Error type for programmatic handling
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Specific error code for detailed handling
            param:
              type: string
              description: Parameter that caused the error (for validation errors)
            retry_after:
              type: integer
              description: Seconds to wait before retrying (for rate limit errors)
            errors:
              type: array
              description: Detailed validation errors for multiple fields
              items:
                type: object
                properties:
                  param:
                    type: string
                  message:
                    type: string
                  code:
                    type: string
    Document:
      type: object
      required:
        - id
        - object
        - title
        - access_level
        - processing_status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
          description: Unique document identifier (TypeID format)
          example: doc_01h2xcejqtf2nbrexx3vqjhp41
        object:
          type: string
          enum:
            - document
          description: Object type identifier
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Document title
          example: Q4 Financial Report
        description:
          type:
            - string
            - 'null'
          maxLength: 2000
          description: Optional document description
          example: Annual financial report for Q4 2024
        access_level:
          type: string
          enum:
            - private
            - organization
            - restricted
            - authenticated
            - public
          description: |
            Document access level:
            - `private`: Only document creator
            - `organization`: Only organization members
            - `restricted`: Specific users/groups
            - `authenticated`: Any authenticated user
            - `public`: Anyone with the link
          default: private
          example: organization
        processing_status:
          type: string
          enum:
            - pending
            - processing
            - ready
            - failed
          description: |
            Document processing status:
            - `pending`: Queued for processing
            - `processing`: Currently being processed
            - `ready`: Fully processed and available
            - `failed`: Processing error occurred
          example: ready
        current_version:
          $ref: '#/components/schemas/VersionSummary'
        policy_ids:
          type: array
          description: IDs of policies attached to this document
          items:
            type: string
            pattern: ^pol_[0-9a-hjkmnp-tv-z]{26}$
          example:
            - pol_01h2xcej8mf2nbrexx3vqjhp42
            - pol_01h2xcek4tf2nbrexx3vqjhp43
        created_by:
          type:
            - string
            - 'null'
          description: User ID who created this document
          example: user_01h2xcejqtf2nbrexx3vqjhp44
        content_creation_date:
          type:
            - integer
            - 'null'
          format: int64
          description: |
            Date shown on the document content itself (from current version).
            Convenience field - same as current_version.content_creation_date.
            Null if not yet extracted or not applicable.
          example: 1704067200
        created_at:
          type: integer
          format: int64
          description: Unix timestamp when document record was created in Factify
          example: 1234567890
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp when document was last updated
          example: 1234567899
    DocumentList:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        has_more:
          type: boolean
          description: Whether more results are available
        next_cursor:
          type:
            - string
            - 'null'
          description: Opaque cursor for next page of results
    DocumentCreate:
      type: object
      required:
        - title
        - content
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
          default: organization
        content:
          type: string
          description: Initial document content
        metadata:
          type: object
          additionalProperties: true
    DocumentUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 2000
    DocumentAccessUpdate:
      type: object
      required:
        - access_level
      properties:
        access_level:
          type: string
          enum:
            - organization
            - restricted
            - authenticated
            - public
    Version:
      type: object
      required:
        - id
        - object
        - document_id
        - version_number
        - processing_status
        - created_at
      properties:
        id:
          type: string
          pattern: ^ver_[0-9a-hjkmnp-tv-z]{26}$
          description: Unique version identifier (TypeID format)
          example: ver_01h2xcejqtf2nbrexx3vqjhp45
        object:
          type: string
          enum:
            - version
        document_id:
          type: string
          pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
          example: doc_01h2xcejqtf2nbrexx3vqjhp41
        version_number:
          type: integer
          minimum: 1
          example: 3
        processing_status:
          type: string
          enum:
            - pending
            - processing
            - ready
            - failed
          description: |
            Processing status of the version:
            - `pending`: Queued for processing
            - `processing`: Currently being processed
            - `ready`: Fully processed and available
            - `failed`: Processing error occurred
          example: ready
        content_url:
          type:
            - string
            - 'null'
          format: uri
          description: |
            URL to download processed content.
            Null when processing_status is pending/processing.
          example: https://cdn.factify.com/documents/doc_01h2xcejqtf2nbrexx3vqjhp41/versions/ver_01h2xcejqtf2nbrexx3vqjhp45.pdf
        content_type:
          type:
            - string
            - 'null'
          description: MIME type of the content
          enum:
            - application/pdf
            - text/markdown
            - text/html
            - application/json
            - null
          example: application/pdf
        content_size_bytes:
          type:
            - integer
            - 'null'
          description: File size in bytes
          example: 2458624
        page_count:
          type:
            - integer
            - 'null'
          description: Number of pages (for PDF/paginated formats)
          example: 12
        content_creation_date:
          type:
            - integer
            - 'null'
          format: int64
          description: |
            Date shown on the document content itself (not system upload date).
            Extracted from document content during processing.
            Null if not yet extracted or not applicable.
          example: 1704067200
        content_hash:
          type:
            - string
            - 'null'
          description: SHA-256 hash for content integrity verification
          example: a3c8f9e2b1d4c7a6f5e8d9c0b3a2f1e0d4c7b6a5f8e9d0c3b2a1f0e9d8c7b6a5
        change_summary:
          type:
            - string
            - 'null'
          description: Summary of changes in this version
          example: Updated financial figures
        created_by:
          type:
            - string
            - 'null'
          description: User ID who created this version
        created_at:
          type: integer
          format: int64
          description: Unix timestamp when version was created
          example: 1234567895
    VersionSummary:
      type: object
      required:
        - id
        - version_number
        - processing_status
        - created_at
      properties:
        id:
          type: string
          pattern: ^ver_[0-9a-hjkmnp-tv-z]{26}$
        version_number:
          type: integer
          minimum: 1
        processing_status:
          type: string
          enum:
            - pending
            - processing
            - ready
            - failed
          description: Processing status of the version
        content_url:
          type:
            - string
            - 'null'
          format: uri
          description: URL to download processed content (null if not ready)
        content_type:
          type:
            - string
            - 'null'
          description: MIME type of the content
        content_size_bytes:
          type:
            - integer
            - 'null'
          description: File size in bytes
        page_count:
          type:
            - integer
            - 'null'
          description: Number of pages (for paginated formats)
        content_creation_date:
          type:
            - integer
            - 'null'
          format: int64
          description: Date shown on the document content itself (extracted during processing)
        created_at:
          type: integer
          format: int64
    VersionList:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Version'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
    VersionCreate:
      type: object
      required:
        - document_id
        - content
      properties:
        document_id:
          type: string
          pattern: ^doc_[0-9a-hjkmnp-tv-z]{26}$
        content:
          type: string
        change_summary:
          type: string
    VersionUpdate:
      type: object
      properties:
        change_summary:
          type: string
          description: Summary of changes
        content_creation_date:
          type: integer
          format: int64
          description: Date shown on the document content (user can set/correct)
    PolicyAttachment:
      type: object
      required:
        - document_id
        - policy_id
        - attached_at
      properties:
        document_id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
        policy_id:
          type: string
          pattern: ^pol_[a-zA-Z0-9]+$
        policy_name:
          type: string
        attached_at:
          type: integer
          format: int64
    PolicyAttachmentList:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/PolicyAttachment'
    PolicyAttachRequest:
      type: object
      required:
        - policy_id
      properties:
        policy_id:
          type: string
          pattern: ^pol_[a-zA-Z0-9]+$
    FormSubmission:
      type: object
      required:
        - id
        - object
        - form_id
        - document_id
        - submitted_at
      properties:
        id:
          type: string
          pattern: ^sub_[a-zA-Z0-9]+$
          example: sub_abc123
        object:
          type: string
          enum:
            - form_submission
        form_id:
          type: string
          pattern: ^form_[a-zA-Z0-9]+$
          example: form_123
        document_id:
          type: string
          pattern: ^doc_[a-zA-Z0-9]+$
        submitted_by:
          type: object
          required:
            - email
          properties:
            email:
              type: string
              format: email
            name:
              type: string
            company:
              type: string
        submitted_at:
          type: integer
          format: int64
          example: 1234567890
        ip_address:
          type: string
          description: IP address of submitter (for audit purposes)
    FormSubmissionList:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/FormSubmission'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
  examples:
    DocumentCreated:
      value:
        id: doc_01h2xcejqtf2nbrexx3vqjhp41
        object: document
        title: Q4 Financial Report
        description: Annual financial report for Q4 2024
        access_level: private
        processing_status: pending
        current_version:
          id: ver_01h2xcejqtf2nbrexx3vqjhp45
          version_number: 1
          processing_status: pending
          content_url: null
          content_type: null
          content_size_bytes: null
          page_count: null
          content_creation_date: null
          created_at: 1234567890
        policy_ids: []
        created_by: user_789
        content_creation_date: null
        created_at: 1234567890
        updated_at: 1234567890
