{
  "openapi": "3.1.0",
  "info": {
    "title": "Factify API",
    "version": "1.0.0",
    "description": "Factify API enables you to create, manage, and control access to legally-binding documents that replace PDFs.\n\n## Authentication\n\nBearer authentication header of the form Bearer <token>, where <token> is your auth token.\n\n```\nAuthorization: Bearer ffy...\n```\n\n## Rate Limiting\n\n- 1000 requests per minute per API key\n- 100 requests per minute for resource creation (POST)\n\n## Errors\n\nFactify uses conventional HTTP status codes and returns structured error responses:\n\n```json\n{\n  \"error\": {\n    \"type\": \"invalid_request_error\",\n    \"message\": \"Document title cannot be empty\",\n    \"param\": \"title\",\n    \"code\": \"missing_required_field\"\n  }\n}\n```\n\n## Schema Notes\n\nThis schema uses `x-` prefixed properties (e.g., `x-format`, `x-pattern`, `x-minLength`) intentionally to prevent Mintlify from displaying validation rules in the generated documentation interface. These correspond to standard OpenAPI properties but are prefixed for rendering purposes.\n",
    "contact": {
      "name": "Factify API Support",
      "email": "api@factify.com",
      "url": "https://factify.com/support"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://factify.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.factify.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Documents",
      "description": "Core document resources - legally-binding, versioned documents"
    },
    {
      "name": "Versions",
      "description": "Document version tracking and management"
    },
    {
      "name": "Entry Pages",
      "description": "Document cover pages and summaries"
    },
    {
      "name": "Policies",
      "description": "Governance rules for documents"
    },
    {
      "name": "Form Submissions",
      "description": "Lead capture form submission data"
    }
  ],
  "paths": {
    "/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents",
        "description": "Retrieves a list of documents with cursor-based pagination.\n\nResults are sorted by creation date (newest first).\n",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/components/parameters/CreatedBeforeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create a document",
        "description": "Creates a new document by uploading a PDF file.\n",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/documents/{document_id}": {
      "parameters": [
        {
          "name": "document_id",
          "in": "path",
          "required": true,
          "description": "Document ID",
          "schema": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$"
          }
        }
      ],
      "get": {
        "operationId": "getDocument",
        "summary": "Retrieve a document",
        "description": "Retrieves a document by ID, including current version data inline.\n",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateDocument",
        "summary": "Update a document",
        "description": "Updates document title and description.\n\nOnly provided fields are updated (partial update).\n",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/documents/{document_id}/versions": {
      "parameters": [
        {
          "name": "document_id",
          "in": "path",
          "required": true,
          "description": "Document ID",
          "schema": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$"
          }
        }
      ],
      "get": {
        "operationId": "listDocumentVersions",
        "summary": "List document versions",
        "description": "Retrieves all versions for a specific document.\n",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createDocumentVersion",
        "summary": "Create a new version",
        "description": "Creates a new version by uploading a PDF file.",
        "tags": [
          "Versions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VersionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Version created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/documents/{document_id}/entry-page": {
      "parameters": [
        {
          "name": "document_id",
          "in": "path",
          "required": true,
          "description": "Document ID",
          "schema": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$"
          }
        }
      ],
      "post": {
        "operationId": "generateDocumentEntryPage",
        "summary": "Generate entry page",
        "description": "Generates and returns a temporary downloadable URL for the document entry page PDF.",
        "tags": [
          "Entry Pages"
        ],
        "responses": {
          "200": {
            "description": "Entry page generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryPageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/documents/{document_id}/policies": {
      "parameters": [
        {
          "name": "document_id",
          "in": "path",
          "required": true,
          "description": "Document ID",
          "schema": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$"
          }
        }
      ],
      "get": {
        "operationId": "listDocumentPolicies",
        "summary": "List document policies",
        "description": "Lists all policies attached to a document",
        "tags": [
          "Policies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyAttachmentListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "attachDocumentPolicy",
        "summary": "Attach policy to document",
        "description": "Attaches a governance policy to a document",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyAttachRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy attached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPolicyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/documents/{document_id}/policies/{policy_id}": {
      "parameters": [
        {
          "name": "document_id",
          "in": "path",
          "required": true,
          "description": "Document ID",
          "schema": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$"
          }
        },
        {
          "name": "policy_id",
          "in": "path",
          "required": true,
          "description": "Policy ID",
          "schema": {
            "type": "string",
            "x-pattern": "^pol_[0-9a-hjkmnp-tv-z]{26}$"
          }
        }
      ],
      "delete": {
        "operationId": "detachDocumentPolicy",
        "summary": "Detach policy from document",
        "description": "Removes a policy attachment from a document",
        "tags": [
          "Policies"
        ],
        "responses": {
          "204": {
            "description": "Policy detached successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/form-submissions": {
      "get": {
        "operationId": "listFormSubmissions",
        "summary": "List form submissions",
        "description": "Retrieves form submissions for a specific form with optional time filtering.\n",
        "tags": [
          "Form Submissions"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "required": true,
            "description": "Form ID to filter by",
            "schema": {
              "type": "string",
              "x-pattern": "^form_[0-9a-hjkmnp-tv-z]{26}$"
            }
          },
          {
            "$ref": "#/components/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/components/parameters/CreatedBeforeParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of form submissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmissionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/documents/{document_id}/versions/{version_id}": {
      "parameters": [
        {
          "name": "document_id",
          "in": "path",
          "required": true,
          "description": "Document ID",
          "schema": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$"
          }
        },
        {
          "name": "version_id",
          "in": "path",
          "required": true,
          "description": "Version ID",
          "schema": {
            "type": "string",
            "x-pattern": "^ver_[0-9a-hjkmnp-tv-z]{26}$"
          }
        }
      ],
      "get": {
        "operationId": "getDocumentVersion",
        "summary": "Retrieve a version",
        "description": "Retrieves a specific version of a document by ID.",
        "tags": [
          "Versions"
        ],
        "responses": {
          "200": {
            "description": "Version details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateDocumentVersion",
        "summary": "Update version",
        "description": "Updates version title and description.\n\nVersion content is immutable and cannot be changed.",
        "tags": [
          "Versions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Bearer authentication header of the form Bearer <token>, where <token> is your auth token."
      }
    },
    "parameters": {
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Number of results to return (1-100)",
        "schema": {
          "type": "integer",
          "x-minimum": 1,
          "x-maximum": 100,
          "default": 50
        }
      },
      "CursorParam": {
        "name": "cursor",
        "in": "query",
        "description": "Opaque pagination cursor from previous response",
        "schema": {
          "type": "string"
        }
      },
      "CreatedAfterParam": {
        "name": "created_after",
        "in": "query",
        "description": "Filter by created date (RFC 3339)",
        "schema": {
          "type": "string",
          "x-format": "date-time",
          "example": "2024-01-01T00:00:00Z"
        }
      },
      "CreatedBeforeParam": {
        "name": "created_before",
        "in": "query",
        "description": "Filter by created date (RFC 3339)",
        "schema": {
          "type": "string",
          "x-format": "date-time",
          "example": "2024-12-31T23:59:59Z"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "validation_error": {
                "value": {
                  "error": {
                    "type": "invalid_request_error",
                    "message": "Document title cannot be empty",
                    "code": "missing_required_field",
                    "param": "title",
                    "retry_after": null,
                    "errors": null
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication failed - missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "missing_key": {
                "value": {
                  "error": {
                    "type": "authentication_error",
                    "message": "No API key provided",
                    "code": "missing_api_key",
                    "param": null,
                    "retry_after": null,
                    "errors": null
                  }
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authorization failed - valid key but insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Too many requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "rate_limit": {
                "value": {
                  "error": {
                    "type": "rate_limit_error",
                    "message": "Too many requests. Retry after 30 seconds.",
                    "code": "rate_limit_exceeded",
                    "param": null,
                    "retry_after": 30,
                    "errors": null
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Request limit per minute"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Remaining requests in current window"
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp when rate limit resets"
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "type",
              "message",
              "code",
              "param",
              "retry_after",
              "errors"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "authorization_error",
                  "not_found_error",
                  "rate_limit_error",
                  "api_error"
                ],
                "description": "Error type for programmatic handling"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "code": {
                "type": "string",
                "description": "Specific error code for detailed handling"
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Parameter that caused the error (for validation errors)"
              },
              "retry_after": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Seconds to wait before retrying (for rate limit errors)"
              },
              "errors": {
                "type": [
                  "array",
                  "null"
                ],
                "description": "Detailed validation errors for multiple fields",
                "items": {
                  "type": "object",
                  "required": [
                    "param",
                    "message",
                    "code"
                  ],
                  "properties": {
                    "param": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "required": [
          "id",
          "factify_url",
          "title",
          "description",
          "access_level",
          "processing_status",
          "created_at",
          "created_by",
          "current_version"
        ],
        "properties": {
          "id": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "Unique ID for the document",
            "example": "doc_01h2xcejqtf2nbrexx3vqjhp41"
          },
          "factify_url": {
            "type": "string",
            "x-format": "uri",
            "description": "Factify URL for accessing the document",
            "example": "https://d.factify.com/d/01h2xcejqtf2nbrexx3vqjhp41"
          },
          "title": {
            "type": "string",
            "x-minLength": 1,
            "x-maxLength": 255,
            "description": "Document title",
            "example": "Q4 Financial Report"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "x-maxLength": 2000,
            "description": "Optional document description",
            "example": "Annual financial report for Q4 2024"
          },
          "access_level": {
            "$ref": "#/components/schemas/AccessLevel"
          },
          "processing_status": {
            "$ref": "#/components/schemas/ProcessingStatus"
          },
          "created_at": {
            "type": "string",
            "x-format": "date-time",
            "description": "RFC 3339 timestamp when document record was created in Factify",
            "example": "2024-01-01T00:00:00Z"
          },
          "created_by": {
            "$ref": "#/components/schemas/User"
          },
          "current_version": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/VersionResponse"
              },
              {
                "type": "null"
              }
            ],
            "description": "Current version of the document, null if no versions exist"
          }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "required": [
          "items",
          "pagination"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "DocumentCreateRequest": {
        "type": "object",
        "required": [
          "payload",
          "title"
        ],
        "properties": {
          "payload": {
            "type": "string",
            "format": "binary",
            "description": "PDF file to upload"
          },
          "title": {
            "type": "string",
            "x-minLength": 1,
            "x-maxLength": 255,
            "description": "Document title"
          },
          "description": {
            "type": "string",
            "x-maxLength": 2000,
            "description": "Optional document description"
          },
          "access_level": {
            "$ref": "#/components/schemas/AccessLevel"
          }
        }
      },
      "DocumentUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "x-minLength": 1,
            "x-maxLength": 255
          },
          "description": {
            "type": "string",
            "x-maxLength": 2000
          }
        }
      },
      "VersionResponse": {
        "type": "object",
        "required": [
          "id",
          "document_id",
          "factify_url",
          "title",
          "description",
          "processing_status",
          "created_at",
          "created_by"
        ],
        "properties": {
          "id": {
            "type": "string",
            "x-pattern": "^ver_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "Unique ID for the version",
            "example": "ver_01h2xcejqtf2nbrexx3vqjhp45"
          },
          "document_id": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "Parent document ID",
            "example": "doc_01h2xcejqtf2nbrexx3vqjhp41"
          },
          "factify_url": {
            "type": "string",
            "x-format": "uri",
            "description": "Factify URL for accessing this version",
            "example": "https://d.factify.com/d/01h2xcejqtf2nbrexx3vqjhp41/v/01h2xcejqtf2nbrexx3vqjhp45"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "x-maxLength": 255,
            "description": "Optional version title",
            "example": "v2.0 - Updated figures"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description of changes in this version",
            "example": "Updated financial figures for Q4"
          },
          "processing_status": {
            "$ref": "#/components/schemas/ProcessingStatus"
          },
          "created_at": {
            "type": "string",
            "x-format": "date-time",
            "description": "RFC 3339 timestamp when version was created",
            "example": "2024-01-01T00:00:00Z"
          },
          "created_by": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "VersionListResponse": {
        "type": "object",
        "required": [
          "items",
          "pagination"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "VersionCreateRequest": {
        "type": "object",
        "required": [
          "payload"
        ],
        "properties": {
          "payload": {
            "type": "string",
            "format": "binary",
            "description": "PDF file for new version"
          },
          "title": {
            "type": "string",
            "x-maxLength": 255,
            "description": "Optional version title"
          },
          "description": {
            "type": "string",
            "description": "Description of changes in this version"
          }
        }
      },
      "VersionUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "x-maxLength": 255,
            "description": "Version title"
          },
          "description": {
            "type": "string",
            "description": "Description of changes in this version"
          }
        }
      },
      "PolicyAttachmentListResponse": {
        "type": "object",
        "required": [
          "items",
          "pagination"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentPolicyResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PolicyAttachRequest": {
        "type": "object",
        "required": [
          "policy_id"
        ],
        "properties": {
          "policy_id": {
            "type": "string",
            "x-pattern": "^pol_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "ID of the policy to attach to the document"
          }
        }
      },
      "FormSubmissionResponse": {
        "type": "object",
        "required": [
          "id",
          "form_id",
          "document_id",
          "created_at",
          "created_by"
        ],
        "properties": {
          "id": {
            "type": "string",
            "x-pattern": "^sub_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "Unique ID for the form submission",
            "example": "sub_01h2xcejqtf2nbrexx3vqjhp42"
          },
          "form_id": {
            "type": "string",
            "x-pattern": "^form_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "ID of the form this submission belongs to",
            "example": "form_01h2xcejqtf2nbrexx3vqjhp43"
          },
          "document_id": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "ID of the document associated with this submission"
          },
          "created_at": {
            "type": "string",
            "x-format": "date-time",
            "description": "RFC 3339 timestamp when form submission was created",
            "example": "2024-01-01T00:00:00Z"
          },
          "created_by": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/User"
              },
              {
                "type": "null"
              }
            ],
            "description": "User who created the form submission"
          }
        }
      },
      "FormSubmissionListResponse": {
        "type": "object",
        "required": [
          "items",
          "pagination"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormSubmissionResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": [
          "next_cursor",
          "has_more"
        ],
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor for fetching the next page, null if no more results"
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether there are more results available"
          }
        }
      },
      "PolicyResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "x-pattern": "^pol_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "Unique ID for the policy"
          },
          "name": {
            "type": "string",
            "description": "Policy name"
          },
          "created_at": {
            "type": "string",
            "x-format": "date-time",
            "description": "RFC 3339 timestamp when policy was created"
          }
        }
      },
      "DocumentPolicyResponse": {
        "type": "object",
        "required": [
          "document_id",
          "attached_at",
          "attached_by",
          "policy"
        ],
        "properties": {
          "document_id": {
            "type": "string",
            "x-pattern": "^doc_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "Document ID this policy is attached to"
          },
          "attached_at": {
            "type": "string",
            "x-format": "date-time",
            "description": "RFC 3339 timestamp when policy was attached",
            "example": "2024-01-15T10:30:00Z"
          },
          "attached_by": {
            "$ref": "#/components/schemas/User"
          },
          "policy": {
            "$ref": "#/components/schemas/PolicyResponse"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "type",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "x-pattern": "^user_[0-9a-hjkmnp-tv-z]{26}$",
            "description": "Unique ID for the user",
            "example": "user_01h2xcejqtf2nbrexx3vqjhp44"
          },
          "type": {
            "type": "string",
            "enum": [
              "user_account",
              "service_account"
            ],
            "description": "User type discriminator",
            "example": "user_account"
          },
          "name": {
            "type": "string",
            "description": "Display name of the user or service account",
            "example": "John Doe"
          }
        }
      },
      "AccessLevel": {
        "type": "string",
        "enum": [
          "private",
          "organization",
          "public"
        ],
        "default": "private",
        "description": "Document access level:\n- `private`: Specific users/groups\n- `organization`: Only organization members\n- `public`: Anyone with the link\n"
      },
      "ProcessingStatus": {
        "type": "string",
        "enum": [
          "processing",
          "ready",
          "failed"
        ],
        "description": "Processing status:\n- `processing`: Currently being processed\n- `ready`: Fully processed and available\n- `failed`: Processing error occurred\n"
      },
      "EntryPageResponse": {
        "type": "object",
        "required": [
          "download_url"
        ],
        "properties": {
          "download_url": {
            "type": "string",
            "x-format": "uri",
            "description": "Temporary download URL for the entry page PDF"
          }
        }
      }
    }
  }
}
