openapi: 3.1.0
info:
  title: Factify API
  version: 1.0.0
  description: |
    Factify API enables you to create, manage, and control access to legally-binding documents that replace PDFs.

    ## Authentication

    Authenticate requests using API keys in the Authorization header:

    ```
    Authorization: Bearer fac_live_sk_...
    ```

    ## Rate Limiting

    - 1000 requests per minute per API key
    - 100 requests per minute for resource creation (POST)

    ## Errors

    Factify uses conventional HTTP status codes and returns structured error responses:

    ```json
    {
      "error": {
        "type": "invalid_request_error",
        "message": "Document title cannot be empty",
        "param": "title",
        "code": "missing_required_field"
      }
    }
    ```
  contact:
    name: Factify API Support
    email: api@factify.com
    url: https://factify.com/support
  license:
    name: Proprietary
    url: https://factify.com/terms

servers:
  - url: https://api.factify.com/v1
    description: Production server
  - url: https://api-sandbox.factify.com/v1
    description: Sandbox server (test environment)

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication using Bearer token format.

        Test keys: `fac_test_sk_...`
        Live keys: `fac_live_sk_...`

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            validation_error:
              value:
                error:
                  type: invalid_request_error
                  message: Document title cannot be empty
                  param: title
                  code: missing_required_field

    Unauthorized:
      description: Authentication failed - missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            missing_key:
              value:
                error:
                  type: authentication_error
                  message: No API key provided
                  code: missing_api_key

    Forbidden:
      description: Authorization failed - valid key but insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    RateLimitExceeded:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            rate_limit:
              value:
                error:
                  type: rate_limit_error
                  message: Too many requests. Retry after 30 seconds.
                  code: rate_limit_exceeded
                  retry_after: 30
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per minute
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - message
            - code
          properties:
            type:
              type: string
              enum:
                - invalid_request_error
                - authentication_error
                - authorization_error
                - not_found_error
                - rate_limit_error
                - api_error
              description: Error type for programmatic handling
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Specific error code for detailed handling
            param:
              type: string
              description: Parameter that caused the error (for validation errors)
            retry_after:
              type: integer
              description: Seconds to wait before retrying (for rate limit errors)
            errors:
              type: array
              description: Detailed validation errors for multiple fields
              items:
                type: object
                properties:
                  param:
                    type: string
                  message:
                    type: string
                  code:
                    type: string

    Document:
      $ref: './schemas/document.yaml#/Document'
    DocumentList:
      $ref: './schemas/document.yaml#/DocumentList'
    DocumentCreate:
      $ref: './schemas/document.yaml#/DocumentCreate'
    DocumentUpdate:
      $ref: './schemas/document.yaml#/DocumentUpdate'
    DocumentAccessUpdate:
      $ref: './schemas/document.yaml#/DocumentAccessUpdate'

    Version:
      $ref: './schemas/version.yaml#/Version'
    VersionSummary:
      $ref: './schemas/version.yaml#/VersionSummary'
    VersionList:
      $ref: './schemas/version.yaml#/VersionList'
    VersionCreate:
      $ref: './schemas/version.yaml#/VersionCreate'
    VersionUpdate:
      $ref: './schemas/version.yaml#/VersionUpdate'

    PolicyAttachment:
      $ref: './schemas/policy.yaml#/PolicyAttachment'
    PolicyAttachmentList:
      $ref: './schemas/policy.yaml#/PolicyAttachmentList'
    PolicyAttachRequest:
      $ref: './schemas/policy.yaml#/PolicyAttachRequest'

    FormSubmission:
      $ref: './schemas/form-submission.yaml#/FormSubmission'
    FormSubmissionList:
      $ref: './schemas/form-submission.yaml#/FormSubmissionList'

  examples:
    DocumentCreated:
      value:
        id: doc_abc123
        object: document
        title: Q4 Financial Report
        description: Annual financial report for Q4 2024
        access_level: private
        processing_status: pending
        current_version:
          id: ver_xyz789
          version_number: 1
          processing_status: pending
          content_url: null
          content_type: null
          content_size_bytes: null
          page_count: null
          created_at: 1234567890
        policy_ids: []
        created_by: user_789
        metadata:
          department: finance
          author: john@example.com
        created_at: 1234567890
        updated_at: 1234567890
        published_at: null

paths:
  /documents:
    get:
      operationId: listDocuments
      summary: List documents
      description: |
        Retrieves a list of documents with cursor-based pagination.

        Results are sorted by creation date (newest first).
      tags:
        - Documents
      parameters:
        - name: limit
          in: query
          description: Number of results to return (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          description: Opaque pagination cursor from previous response
          schema:
            type: string
        - name: access_level
          in: query
          description: Filter by access level
          schema:
            type: string
            enum: [organization, restricted, authenticated, public]
        - name: created_gte
          in: query
          description: Filter by created date (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                format: int64
              - type: string
                format: date-time
        - name: created_lte
          in: query
          description: Filter by created date (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                format: int64
              - type: string
                format: date-time
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

    post:
      operationId: createDocument
      summary: Create a document
      description: |
        Creates a new document by uploading a PDF file with metadata.

        The PDF is processed asynchronously. Check `processing_status` field to track progress.

        Supports idempotency via `Idempotency-Key` header.
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          description: Unique identifier for idempotent requests (UUID recommended)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - metadata
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to upload
                metadata:
                  type: object
                  description: Document metadata as JSON string
                  properties:
                    title:
                      type: string
                      minLength: 1
                      maxLength: 255
                    description:
                      type: string
                      maxLength: 2000
                    access_level:
                      type: string
                      enum: [private, organization, restricted, authenticated, public]
                      default: private
                    policy_ids:
                      type: array
                      description: Policy IDs to attach on creation
                      items:
                        type: string
                        pattern: '^pol_[a-zA-Z0-9]+$'
                    metadata:
                      type: object
                      additionalProperties: true
            encoding:
              metadata:
                contentType: application/json
      responses:
        '201':
          description: Document created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                created:
                  $ref: '#/components/examples/DocumentCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /documents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Document ID
        schema:
          type: string
          pattern: '^doc_[a-zA-Z0-9]+$'

    get:
      operationId: getDocument
      summary: Retrieve a document
      description: |
        Retrieves a document by ID, including current version data inline.
      tags:
        - Documents
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateDocument
      summary: Update a document
      description: |
        Updates document metadata. Does not create new version.

        Only provided fields are updated (partial update).
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdate'
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteDocument
      summary: Delete a document
      description: |
        Soft-deletes a document. All versions retained for compliance.

        **This operation cannot be undone.**
      tags:
        - Documents
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  object:
                    type: string
                    enum: [document]
                  deleted:
                    type: boolean
                    enum: [true]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /documents/{id}/access:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^doc_[a-zA-Z0-9]+$'

    patch:
      operationId: updateDocumentAccess
      summary: Update document access level
      description: |
        Changes document access level.

        **Security Note:** This endpoint has stricter rate limiting due to security implications.
      tags:
        - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAccessUpdate'
      responses:
        '200':
          description: Access level updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  access_level:
                    type: string
                  updated_at:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /versions:
    get:
      operationId: listVersions
      summary: List versions
      description: |
        Retrieves versions with filtering.

        Use `document_id` parameter to get all versions of a specific document.
      tags:
        - Versions
      parameters:
        - name: document_id
          in: query
          required: true
          description: Filter by document ID
          schema:
            type: string
            pattern: '^doc_[a-zA-Z0-9]+$'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
        - name: created_gte
          in: query
          schema:
            oneOf:
              - type: integer
              - type: string
                format: date-time
        - name: created_lte
          in: query
          schema:
            oneOf:
              - type: integer
              - type: string
                format: date-time
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createVersion
      summary: Create a version
      description: |
        Creates a new version by uploading a PDF file with metadata.

        Version number is automatically incremented.
        The PDF is processed asynchronously. Check `processing_status` to track progress.
      tags:
        - Versions
      parameters:
        - name: Idempotency-Key
          in: header
          description: Unique identifier for idempotent requests
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - metadata
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file for new version
                metadata:
                  type: object
                  description: Version metadata as JSON string
                  properties:
                    document_id:
                      type: string
                      pattern: '^doc_[a-zA-Z0-9]+$'
                      description: Document ID to create version for
                    change_summary:
                      type: string
                      description: Summary of changes in this version
                      example: Updated financial figures for Q4
                    metadata:
                      type: object
                      additionalProperties: true
                      description: Custom metadata key-value pairs
            encoding:
              metadata:
                contentType: application/json
      responses:
        '201':
          description: Version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /versions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ver_[a-zA-Z0-9]+$'

    get:
      operationId: getVersion
      summary: Retrieve a version
      description: Retrieves a specific version by ID
      tags:
        - Versions
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateVersion
      summary: Update version metadata
      description: |
        Updates version metadata only (content is immutable).
      tags:
        - Versions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionUpdate'
      responses:
        '200':
          description: Version updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /versions/{id}/download:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ver_[a-zA-Z0-9]+$'

    get:
      operationId: downloadVersion
      summary: Download version content
      description: |
        Downloads the processed content for a version.

        Returns binary content with appropriate Content-Type header.

        **Note:** Available only when `processing_status` is `ready`.
      tags:
        - Versions
      responses:
        '200':
          description: Version content
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            text/markdown:
              schema:
                type: string
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
          headers:
            Content-Disposition:
              schema:
                type: string
              description: 'attachment; filename="document.pdf"'
            Content-Length:
              schema:
                type: integer
              description: File size in bytes
            ETag:
              schema:
                type: string
              description: Content hash for caching
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Version not ready for download
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  message: Version is still processing
                  code: version_not_ready
                  param: processing_status

  /documents/{id}/versions:
    parameters:
      - name: id
        in: path
        required: true
        description: Document ID
        schema:
          type: string
          pattern: '^doc_[a-zA-Z0-9]+$'

    get:
      operationId: listDocumentVersions
      summary: List document versions (convenience endpoint)
      description: |
        Retrieves all versions for a specific document.

        This is a convenience endpoint equivalent to `/versions?document_id={id}`.
      tags:
        - Versions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /documents/{id}/entry-page:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^doc_[a-zA-Z0-9]+$'

    get:
      operationId: getDocumentEntryPage
      summary: Get document entry page
      description: |
        Retrieves the entry page (cover page/summary) for a document.

        Returns PDF by default, or JSON metadata with `?format=json`.
      tags:
        - Entry Pages
      parameters:
        - name: format
          in: query
          description: Output format
          schema:
            type: string
            enum: [pdf, json]
            default: pdf
      responses:
        '200':
          description: Entry page
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  page_count:
                    type: integer
                  entry_page_url:
                    type: string
                    format: uri
                  preview_image_url:
                    type: string
                    format: uri
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /documents/{id}/policies:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^doc_[a-zA-Z0-9]+$'

    get:
      operationId: listDocumentPolicies
      summary: List document policies
      description: Lists all policies attached to a document
      tags:
        - Policies
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAttachmentList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: attachDocumentPolicy
      summary: Attach policy to document
      description: Attaches a governance policy to a document
      tags:
        - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAttachRequest'
      responses:
        '200':
          description: Policy attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAttachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /documents/{id}/policies/{policy_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^doc_[a-zA-Z0-9]+$'
      - name: policy_id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pol_[a-zA-Z0-9]+$'

    delete:
      operationId: detachDocumentPolicy
      summary: Detach policy from document
      description: Removes a policy attachment from a document
      tags:
        - Policies
      responses:
        '200':
          description: Policy detached
          content:
            application/json:
              schema:
                type: object
                properties:
                  document_id:
                    type: string
                  policy_id:
                    type: string
                  detached:
                    type: boolean
                    enum: [true]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /form-submissions:
    get:
      operationId: listFormSubmissions
      summary: List form submissions
      description: |
        Retrieves form submissions for a specific form with optional time filtering.
      tags:
        - Form Submissions
      parameters:
        - name: form_id
          in: query
          required: true
          description: Form ID to filter by
          schema:
            type: string
            pattern: '^form_[a-zA-Z0-9]+$'
        - name: submitted_gte
          in: query
          description: Filter by submission time (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                format: int64
              - type: string
                format: date-time
        - name: submitted_lte
          in: query
          description: Filter by submission time (Unix timestamp or ISO 8601)
          schema:
            oneOf:
              - type: integer
                format: int64
              - type: string
                format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of form submissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

tags:
  - name: Documents
    description: Core document resources - legally-binding, versioned documents
  - name: Versions
    description: Document version tracking and management
  - name: Entry Pages
    description: Document cover pages and summaries
  - name: Policies
    description: Governance rules for documents
  - name: Form Submissions
    description: Lead capture form submission data
